### To reverse an integer

In [14]:
#Converting input number to a list of numbers
a = list(input())

#Reversing the order of list
a = a[::-1]

#Converting list into string again
b =''
for i in range(len(a)):
    b += a[i]
    
print(b)

3642645678
8765462463

### To check whether a number is Armstrong or not

In [26]:
# Armstrong number is a number that is the sum of its own digits each raised to the power of the number of digits


x = int(input())
# Input taken and converting into list, then mapping each list element as integer
a = list(map(int , list(str(x))))

n = len(a)
s = 0                    # Decalring empty integer variable

# Storing all the individual digits each raised to the power of the number of digits into 's'
for i in range (n):
    s += a[i]**n
    
# Checking the property of Armstrong number    
if s == x:
    print(x , 'is Armstrong number')
else:
    print(x , 'is not Armstrong number')

153
153 is Armstrong number

### Checking Prime Number

In [48]:
n = int(input())

# Negative numbers, zero and one can not be primes
if n <= 0 or n == 1:
    print('Not Applicable')
else:
#Creating an empty list
    l = []
    for i in range(2,n):
        if n%i == 0:
            l.append(i)
            break
            
# If no factor is present b/w 1 and n, then the number is prime
    if len(l) > 0:
        print(n , 'is not a prime number')
    else:
        print(n , 'is a prime number')

34
34 is not a prime number

### Fibonacci series Using Iterative Method

In [57]:
n = int(input())

# First term of a Fibonacci series is zero
l = [0]
for i in range(1 , n):
    if i == 1:
        l.append(1)
    if i>=2:
        l.append(l[-1] + l[-2])
print(l)

3
[0, 1, 1]

### Check if a number is pallindrome or not

In [63]:
# A number reading same from backwards and frontwards is pallindrome

n = input()

l = list(map(int , list(n)))

if l == l[::-1]:
    print(n , 'is a pallindrome')
else:
    print(n, 'is not a pallindrome')

121
121 is a pallindrome

### Find Greatest Among Three Integers

In [73]:
n1 = int(input())
n2 = int(input())
n3 = int(input())

# Putting all numbers in list and then using max function of list
l = list([n1,n2,n3])

print('The maximum number is ' , max(l))

6
4
5
The maximum number is  6

### Check if a number is binary

In [82]:
# A binary number contains only 0 and 1
a = input()

s = 0
for i in range(len(a)):
    if a[i] == '0' or a[i] == '1':
        s+=1
    
if s == len(a):
    print('Given number is binary')
else:
    print('Given number is not binary')

10101010
Given number is binary

### Swapping of two numbers without using third variable

In [83]:
x = int(input())
y = int(input())

x , y = y , x
print('Value of x: ' , x , 'Value of y' , y )

1
2
Value of x:  2 Value of y 1

### Swapping of two numbers using third variable

In [86]:
x = int(input())
y = int(input())

# Creating a temporary variable
temp = x
x = y 
y = temp

print('Value of x: ' , x , 'Value of y' , y )

1
2
Value of x:  2 Value of y 1

### Interchange First & Last Elements of a List

In [91]:
l = list(input().strip())
l[0] , l[-1] = l[-1] , l[0]

print(l)

1 2 3 4
['4', ' ', '2', ' ', '3', ' ', '1']

### Swap any two elements in a list

In [92]:
l = list(input())

# The index of elements which need to be interchanged
n1 = int(input())
n2 = int(input())

l[n1] , l[n2] = l[n2] , l[n1]

print(l)

1234
1
-2
['1', '3', '2', '4']

### Find if any number is present in list and then multiply it with some number

In [113]:
l = input().split()

n = int(input())               # Number with which digit elements is to be multiplied

for i in range(len(l)):
    if l[i].isdigit() == True:     #isdigit checks if all the characters in an element are digits
        l[i] = int(l[i])*n
print(l)

34 dinesh rakesh 5 4
2
[68, 'dinesh', 'rakesh', 10, 8]

### Count occurences of an element in a list

In [116]:
l = input().split()

s =0
#The element of which count occurences is to be calculated
x = input()

for i in range(len(l)):
    if l[i] == x:
        s += 1
        
print(s)

1 2 3 4 3 2 4 2
2
3

### Find second largest number in a list

In [117]:
l = list(map(int , input().split()))
l.sort()
print(l[-2])

1 4 2 1 4 5 7  54 3 3 2 1 52
52

### Print all even numbers in a range from a list

In [121]:
l = input().split()

#Range values
r1 = int(input())
r2 = int(input())

ev = []

for i in range(len(l)):
    if int(l[i]) % 2 ==0 and int(l[i]) <= r2 and int(l[i])>=r1:
        ev.append(l[i])
        
print(ev)

1 2 3 4 5 6 7 8 9 10
3
7
['4', '6']

### Remove empty list from list

In [140]:
# Number of lists to be inserted
n = int(input('Enter number of lists to be inserted: '))
l =[]
for i in range(n):
    l.append(input('List elements: ').split())

#for i in range(n):
#    if len(l[i]) == 0:        
#        l.remove(l[i])          We can not use remove method here because as one element is removed from the list, the length of the list decreases by 1 and hence, for next looping, the index will be out of range
l1 = []
for i in range(len(l)):
    if len(l[i]) != 0:
        l1.append(l[i])
print(l1)

Enter number of lists to be inserted: 7
List elements: 1 2 3
List elements: 4 5 6
List elements:
List elements: 2 4 6
List elements:
List elements: 9 7 6
List elements:
[['1', '2', '3'], ['4', '5', '6'], ['2', '4', '6'], ['9', '7', '6']]

### Removing duplicates from a list

In [142]:
l = input().split()
l1 =[]
for i in range(len(l)):
    if l[i] not in l1:
        l1.append(l[i])
print(l1)

1 2 3 4 1 2 3 4 2 3 1 4
['1', '2', '3', '4']

### Test if list contains elements in range

In [146]:
l = list(map(int,input().split()))
r1 = int(input())
r2 = int(input())
l1 = []
for i in range(len(l)):
    if l[i] >= r1 and l[i] <= r2:
        l1.append(l[i])
print(l1)

1 2 3 4 5 6 7 8 9
3
5
[3, 4, 5]

### Remove consecutive 'k' records from a list

In [175]:
l = input().split()
x = input('Enter F for removing first "k" records/ Enter L for removing last "k" records/Enter M for removing records in between')
 
if x == 'F':
    f = int(input('Enter number of records to be removed: '))
    del l[:f]
elif x == 'L':
    la = int(input('Enter number of records to be removed: '))
    del l[-la : ]
elif x == 'M':
    m1 = int(input('Enter the start index: '))
    m2 = int(input('Enter the end index: '))
    del l[m1:m2 +1]
print(l)

1 2 3 4 5 6 7 8 9
Enter F for removing first "k" records/ Enter L for removing last "k" records/Enter M for removing records in betweenM
Enter the start index: 3
Enter the end index: 6
['1', '2', '3', '8', '9']

### Calculate Factorial Using Iterative Method

In [5]:
n = int(input())

factorial = 1

for i in range(1,n+1):
    factorial = factorial*i
    
print(factorial)

45
119622220865480194561963161495657715064383733760000000000

### Calculate Factorial Using Recursion

In [6]:
def factorial(n):
    if n==1:
        return 1
    else:
        return (n*factorial(n-1))

### Print prime numbers before a certain number

In [245]:
numr=int(input("Enter range of prime numbers:"))

print("Prime numbers:",end=' ')

for n in range(1,numr):

    for i in range(2,n):

        if(n%i==0):

            break

    else:

        print(n,end=' ')

Enter range of prime numbers:12
Prime numbers: 1 2 3 5 7 11

### Finding power without POW method using 'FOR' loop

In [13]:
n = int(input())

p = int(input())

a = 1

for i in range(p):
    a = a*n
print(a)

5
4
625

### Finding power without POW method using 'WHILE' loop

In [14]:
n = int(input())

p = int(input())

a = 1
while p != 0:
    a = a*n
    p -= 1
print(a)

2
3
8

### Square of a given number

In [15]:
n = int(input())

p = 2

a = 1

for i in range(p):
    a = a*n
    
print(a)

7
49

### Cube of a given number

In [16]:
n = int(input())

p = 3

a = 1
while p != 0:
    a = a*n
    p -= 1
    
print(a)

6
216

### Square Root of a number

In [21]:
n = int(input())

print(n**0.5)

64
8.0

### HCF of two numbers

In [33]:
n1 = int(input('Enter First Number: '))
n2 = int(input('Enter Second Number: '))

l1 = []
l2 = []

# Storing all factors in l1 and l2 list

for i in range(1,n1+1):
    if n1 %i ==0:
        l1.append(i)
        
for i in range(1,n2+1):
    if n2 %i ==0:
        l2.append(i)

# Storing common elements of l1 and l2 in l3
l3=[]
for i in range(len(l1)):
    if l1[i] in l2:
        l3.append(l1[i])
        
print(max(l3))

Enter First Number: 51
Enter Second Number: 85
17

### LCM of two numbers

In [239]:
def lcm(n1,n2):
    if n1 >n2:
        greater = n1
    else:
        greater = n2
        
    while(True):
        if((greater%n1 ==0) and (greater%n2 == 0)):
            lcmm = greater
            break
        greater+=1
    return lcmm

In [241]:
lcm(623,83782)

52196186

### Given year is leap or not

In [39]:
#To be a leap year, the year number must be divisible by four – except for end-of-century years, which must be divisible by 400

n = int(input('Enter year :'))

if n % 400 == 0:
    print(n, 'is a leap year')
elif n%100 == 0:
    print(n, 'is not a leap year')
elif n%4 == 0:
    print(n, 'is a leap year')
else:
    print(n, 'is not a leap year')

Enter year :4533
4533 is not a leap year

### Convert Celsius to Farenheit

In [40]:
cel = int(input('Enter temperature in celcius: '))

far = ((cel*9)/5)+32

print(far)

Enter temperature in celcius: 37
98.6

### Calculate Simple Interest

In [42]:
p = int(input('Enter Principal Amount: '))
r = int(input('Enter rate of interest: '))
t = int(input('Enter time: '))

SI = (p*r*t)/100

print('Simple Interest is' , SI ,'%')

Enter Principal Amount: 100
Enter rate of interest: 2
Enter time: 3
Simple Interest is 6.0 %

### Convert Decimal to Binary

In [53]:
def D2B(n):
    if n>=1:
        D2B(n//2)
    print(n%2 , end ='')
    
D2B(3)

011

### Remove given character from string

In [60]:
s = input()

r = input('Enter character to be replaced: ')

s.replace(r,'')

what is the time?
Enter character to be replaced: the

'what is time?'

### Count occurence of a given character

In [59]:
s = input()
c = input('Enter character whose occurence is to be counted: ')

s.count(c)

What is the time?
Enter character whose occurence is to be counted: t

3

### Check if two strings are anagram

In [65]:
#a word or phrase that is made by arranging the letters of another word or phrase in a different order

s1 =input()
s2 = input()

l1 = list(s1)
l2 = list(s2)
s = 0

#Anagrams have same length
if len(s1) != len(s2):
    print('Not Anagrams')
else:
    for i in range(len(l1)):
        if l1[i] in l2:
            s+=1
if len(l1) == s:
    print('Anagrams')

ear
are
Anagrams

### Check if a string is pallindrome or not

In [71]:
s = input()


if s[::-1]  == s:
    print('Pallindromes')

else:
    print('Not Pallindromes')

saippuakivikauppias
Pallindromes

### Check if a given character is vowel or consonant

In [76]:
c = input()

if c in ['a','e','i','o','u','A','E','I','O','U']:
    print('Vowel')
else:
    print('Consonant')

O
Vowel

### Character is digit or not

In [80]:
s = input()

if s.isdigit() == True:
    print(s,'is a digit')

894
894 is a digit

### Replace String Space with a given character with replace method

In [81]:
s = input()
s.replace(' ' , 'x')

wha  kdnjf dsmn

'whaxxkdnjfxdsmn'

### Replace String Space with a given character without replace method

In [84]:
s = input()
l = list(s)
s1 =''
for i in range(len(l)):
    if l[i] == ' ':
        l[i] = 'x'
for i in l:
    s1+=i
print(s1)

wha  kdnjf dsmn
whaxxkdnjfxdsmn

### Count occurence of Vowels & Consonants in a string

In [96]:
s = input()

#We need to remove any whitespaces present

s1 = s.replace(' ' , '')
V = ['a','e','i','o','u','A','E','I','O','U']

v=c=0
for i in range(len(s1)):
    if s1[i] in V:
        v+=1
    else:
        c+=1
print('Vowels= ' , v, 'Consonants= ' , c)

Wridhiman saha
Vowels=  5 Consonants=  8

### Print highest frequency character

In [102]:
s = input().replace(' ', '')
l =[]
for i in range(len(s)):
    l.append(s.count(s[i]))
print(l)
m = l.index(max(l))
print(s[m])

jordan is in the house
[1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 2]
o

### Convert Lowercase character to uppercase in a string

In [121]:
s = input()

l = list(s)

for i in range(len(l)):
    if l[i].islower() == True:
        l[i] = l[i].upper()
t = ''
for i in range(len(l)):
    t += l[i]
    
print(t)

Sahil
SAHIL

### Remove repeated character from string

In [125]:
s = input()

l= list(s)

l1 = []

for i in range(len(l)):
    if l[i] not in l1:
        l1.append(l[i])
        
s = ''
for i in range(len(l1)):
    s+=l1[i]
    
print(s)

Saaaahil
Sahil

### Calculate sum of integers in string

In [127]:
n1 = input()
n2 = input()

s = str(int(n1) + int(n2))

print(s)

2
3
5

### Sort characters of string in ascending order.

In [140]:
s = input()

print(''.join(sorted(s)))     # Capitals are sorted first, then smalls

# print(''.join(sorted(s, reverse = True)))     for descending order

sahil
ahils

In [197]:
import numpy as np

### Find largest and smallest number in an array

In [221]:
d = np.array([[[1,2],[3,4]],[[5,6],[7,8]],[[9,10],[11,12]]])

l = []

for x in d:
    for y in x:
        for z in y:
            l.append(z)
            
print('Maximum: ',max(l))
print('Minimum: ',min(l))

Maximum:  12
Minimum:  1

### Find List of all uncommon words from two strings

In [234]:
s1 = input()
s2 = input()

# Splitting each word of both lists and then joining both lists
l = s1.split() + s2.split()
f = []
for i in range(len(l)):
    if l.count(l[i]) == 1:
        f.append(l[i])
print(f)

Hello Mr DJ
Mr DJ is not well
['Hello', 'is', 'not', 'well']

### Hide The Credit Card Number & Show Only Last 4 Digits

In [252]:
cc = input('Enter Credit Card Number: ')

l = list(cc)

for i in range(len(l)-4):
    l[i] ='X'

t = ''
for i in range(len(l)):
    t+=l[i]
print(t)

Enter Credit Card Number: 1526738473927463
XXXXXXXXXXXX7463